.destinations .section-title{
    margin-top: 88px;
}

.destinations .destination-itens{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.destinations .item{
    width: 312px;
}

.destinations .item header {
    display: block;
    background-color: transparent;
    position: static;
    padding: 0;
}

.destinations .img-item.tokyo{
    height: 360px;
    background-image: url(../img/img-tokyo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.destinations .img-item.osaka{
    height: 360px;
    background-image: url(../img/img-osaka.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.destinations h4{
    margin: 24px 0;
}

.destinations p{
    margin: 24px 0;
    font-size: 20px;
    line-height: 32px;
    font-weight: var(--text-weight);
}

.destinations .button{
    width: 312px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .destinations .item{ 
    width: 648px;
    }
    .destinations .button{
    width: 288px;
    text-align: center;
}
.destinations .img-item{
    height: 452px;
}
}

@media screen and (min-width: 1024px) {
    .destinations .destination-itens{
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin: 0 120px;
    justify-content: center;
}
    .destinations .item{ 
    width: 588px;
    }
.destinations .img-item.tokyo{
    height: 240px;
}

.destinations .img-item.osaka{
    height: 240px;
}

}
@media screen and (min-width: 1440px){
    .destinations .img-item.tokyo{
    height: 380px;
}

.destinations .img-item.osaka{
    height: 380px;
}
}
 