.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: var(--text-weight);
    line-height: 28px;
    background-color: var(--background-tertiary-color);
}

.img-footer{
    width: 100%;
    height: 400px;
    background-image: url(../img/img-footer-mob.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img-logo{
    background-image: url(../img/img-logo-footer.png);
    margin: 32px auto 16px;
    width: 162px;
    height: 40px;
}

.footer-content{
    color: var(--text-secondary-color);
    width: 312px;
}

.social p{
    margin-top: 32px;
}

.social-image{
    display: flex;
    width: 165px;
    height: 76px;
    gap: 8px;
    align-items: center;
    margin: 0 auto;
}

.social div{
    margin: 0 auto;
    width: 32px;
    height: 32px;
}

@media screen and (min-width: 728px){
    .footer-content{
    width: 648px;
    }
}