.hero-img{
    height: 400px;
    width: 100%;
    background: url(../img/hero-mobile.png) no-repeat center;
    background-size: cover;
}

.hero h2{
    margin: 0;
    padding: 88px 24px;
    font-weight: var(--font-weigth);
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
}

@media screen and (min-width: 768px) {
    .hero-img{
        height: 620px;
        width: 100%;
        background: url(../img/hero-tablet.png) no-repeat center;
        background-size: cover;
    }
    .hero h2{
    margin: 0;
    padding: 88px 60px;
    font-weight: var(--font-weigth);
    font-size: 32px;
    text-align: center;
    line-height: 1.5;
}
}

@media screen and (min-width: 1024px) {
    .hero-img{
        height: 620px;
        width: 100%;
        background: url(../img/hero-desktop.png) no-repeat center;
        background-size: cover;
    }
    .hero h2{
    margin: 0;
    padding: 88px 120px;
    font-weight: var(--font-weigth);
    font-size: 32px;
    text-align: center;
    line-height: 1.5;
}
}

@media screen and (min-width: 1920px) {
    .hero h2{
    padding: 88px 160px;
}
}