.content-text{
    margin-top: 32px;
}

.img-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-top: 24px;
    width: 100%;
    height: 460px;
}

.image.bag{
    background-image: url(../img/img-bag-mob.png);
    height: 254px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.image.passport{
    background-image: url(../img/img-passport-mob.png);
    height: 254px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.image.people{
    background-image: url(../img/img-people-mob.png);
    height: 182px;
    grid-column: span 2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (min-width: 768px){
    .image.bag{
    background-image: url(../img/img-bag.png);
    }
    .image.people{
    background-image: url(../img/img-people.png);
    }
    .image.people{
    background-image: url(../img/img-people.png);
    }
}

@media screen and (min-width: 1440px) {
    .payments{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .section-title{
        grid-column: span 2;
        margin-bottom: 64px ;
    }
    .img-content{
        margin-top: 0px;
        width: 790px;
        height: 460px;
    }
}